
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio animated fadeIn">
    <div class="ae-masonry ae-masonry-md-2">
      <a href="portfolio-item.html" class="rk-item ae-masonry__item">
        <img src={{info.foto}} [alt]= "info.nombre_completo">
      <div class="item-meta">
        <h2>{{ info.nombre_completo }}</h2>
        <p>{{ info.cargo }}</p>
      </div>
      </a>
        <a>
        <div style="padding-top:80px; padding-left: 50px">
          <h2>{{ info.nombre_completo }}</h2>
          <p>{{ info.cargo }}</p>
          <dl>
            <dt><b>Nacimiento</b></dt>
              <dd>-{{ info.fecha_nacimiento }}</dd>
            <dt><b>Lugar de procedencia</b></dt>
              <dd>-{{ info.lugar_procedencia }}</dd>
            <dt><b>Residencia</b></dt>
              <dd>-{{ info.residencia }}</dd>
          </dl>
        </div>
      </a>
    </div>
    <div>
      <h2 style="padding-top:100px">Acerca de mi</h2>
      <div *ngFor="let text of info.acerca_de_mi">
        <p class="au-lg-ta-justify" style="padding-top:0p5x">{{ text.texto }}</p>
      </div>
    </div>
  </section>
