
<div class="ae-container-fluid ae-container-fluid--inner  animated fadeIn">

  <div *ngFor="let item of experiencias">

    <div class="ae-grid ">
      <div class="ae-grid__item item-lg-3">
        <img [src]="item.logo" style=" height:300px; width:auto" [alt]="item.empresa">
      </div>
      <div class="item-lg-8 item-lg--offset-1">
        <h4 class="ae-u-bolder">{{ item.empresa }}</h4>
        <p>{{ item.cargo }}</p>
        <dl>
          <dt><b>Inicio</b></dt>
            <dd>-{{ item.fecha_inicio }}</dd>
          <dt><b>Fin</b></dt>
            <dd>-{{ item.fecha_fin }}</dd>
          <dt><b>Jefe directo</b></dt>
            <dd>-{{ item.jefe }}</dd>
        </dl>
        <p class="au-lg-ta-justify au-lh-4"><b>Funciones: </b>{{ item.funciones }}</p>
      </div>
    </div>
    <hr>
  </div>
</div>
